body {
	background: #f8f8f8;s
}

h1, h2, h3 {
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
}

h1 {
	font-size: 48px;
	line-height: 1.8;
}

body, input {
	font: 16px/1.5 Arial, sans-serif;
}

b, em {
	font-weight: bold;
}

#content {
	width: 960px;
	margin: auto;
}

#header {
	position: relative;
}
	#nav {
		position: absolute;
		right: 0;
		bottom: 10px;
		width: 300px;
	}
		#nav a {
			display: block;
			float: right;
			padding: 15px 30px;
			margin-left: 10px;
			
			background: #fff;
			color: #000;
			text-decoration: none;
			
			cursor: pointer;
		}
		#nav a:hover {
			background: #ddd;
		}
		#teamCode {
			color: #666;
		}
		#teamCode input {
			width: 60px;
			border: 1px solid #eee;
		}

#home input {
	width: 938px;
	padding: 20px;
	border: 1px solid #ddd;

	font-size: 24px;

	border-radius: 20px;
	
	-moz-box-shadow: inset 1px 1px 3px rgba(0,0,0, .2);
	-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0, .2);
	box-shadow: inset 1px 1px 3px rgba(0,0,0, .2);

	outline: 0;
}
#home #or {
	font-style: italic;
	text-align: center;
	color: #999;
	margin: 50px 0;
}

#clues {
	width: 100%;
	margin-bottom: 20px;
}
	#clues tr {
		padding: 20px;
		border-bottom: 1px solid #eee;
		
		background: #fff;
	}
		#clues input {
			border: 0;
			margin: 0;
		}
		#clues td, #clues th {
			padding: 20px 8px;
			
			word-wrap: break-word;
		}
		#clues th {
			font-weight: bold;
			text-align: left;
		}
		
			#clues #add-clue td {
				padding: 20px 0;
			}
		
		#clues #add-clue, #clues #add-clue input {
			background: #ccc;
		}
		#clues #add-clue {
			border-bottom: 2px solid #f8f8f8;
		}
			#clues #add-clue input {
				color: #fff;
				margin: 8px;
				outline: 0;
				border-bottom: 1px dashed #fff;
			}
			#clues #add-clue input::-webkit-input-placeholder {
				color: #fff;
			}
			#clues #add-clue input:-moz-placeholder {
				color: #fff;
			}

			#clues .clue input {
				border-bottom: 1px dashed #ccc;
				outline: 0;
			}
			#clues .clue .editing {
				display: none;
				width: 100%;
			}
		
		#clues tr .number {
			width: 30px;
			font-weight: bold;
		}
		#clues tr .hint, #clues tr .answer {
			width: 300px;
		}
		#clues tr .points {
			width: 50px;
		}
		#clues tr .location a {
			color: #999;
		}
			#clues .clue .location, #clues .clue .photos {
				font-size: 12px;
			}
			#clues .clue .photos .none {
				color: #999;
			}

		#clues .clue .edit a, #clues .clue .delete a {
			visibility: hidden;
		}
			#clues .clue:hover .edit a, #clues .clue:hover .delete a {
				visibility: visible;
				cursor: pointer;
			}
		#clues tr .delete a {
			display: inline-block;
			width: 16px;
			height: 16px;
			background:url('/img/delete.png');
		}
			#clues tr .delete a:hover {
				background-position: 0 -16px;
			}

#map-canvas {
	width: 960px;
	height: 500px;
}
#clue-detail {
	background: #fff;
}
	#clue-detail div {
		display: inline-block;
		padding: 20px;
	}
	#clue-detail .hint, #clue-detail .answer {
		width: 300px;
	}
#map-search {
	width: 940px;
	border: 1px solid #eee;
	padding: 10px;
	margin: 20px 0;

	font-size: 24px;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.05);
	
	display: none;
}
	#overlay-content {
		position: relative;
		width: 600px;
		padding: 20px;
		margin: auto;
		top: 200px;
		
		background: #fff;
	}

/* Fonts
*/

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('/fonts/League_Gothic-webfont.eot');
	src: url('/fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/League_Gothic-webfont.woff') format('woff'),
		 url('/fonts/League_Gothic-webfont.ttf') format('truetype'),
		 url('/fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}